@import 'animate.min';

$height_elements: 2rem;
$border_color: #dcd7ca;
$border_radius: 9px;

$width_screen_mobile: 700px;
.one_click_box{
  margin: 1rem;
  .hide_slide{
    height: 0;
    opacity: 0;
    transition: all .5s;
  }
  .flex-between{
    //display: flex;
    //flex-flow: nowrap;
    display: block;
    padding: 1rem;
    //justify-content: space-around;
    //align-items: center;
    @media screen and ( max-width: $width_screen_mobile) {
      display: block;
      padding: .5rem;
    }
  }

}
.col-10{
  //width: percentage(6/12);
  padding: .5rem;
  width: 100%;
  @media screen and ( max-width: $width_screen_mobile) {
    display: block;
    padding: .5rem;
    width: 100%;
  }
}
.col-2{
  //width: percentage(4/12);
  width: 100%;
  padding: .5rem;
  @media screen and ( max-width: $width_screen_mobile) {
    display: block;
    padding: .5rem;

  }
  button{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms;
    &:hover{
      text-decoration: none;
      border-radius: 9px;
      font-size: 2rem;
      transition: all 500ms;
    }
  }
}

.form-control{
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem auto;
}
.error-bg{
  border: 1px solid #ffeeba;
  background: #fff3cd;
  color:  #856404;
}

.alert-box{
  padding: 1.2rem 3rem;
  margin: 1rem;
  border: 1px solid $border_color;
  border-radius: $border_radius;
  font-weight: bold;
  .alert-success{
    border: 1px solid #c3e6cb;
    background: #d4edda;
    color:  #155724;
  }
  .alert-error{
    border: 1px solid #ffeeba;
    background: #fff3cd;
    color:  #856404;
  }
}





